/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Featured Boxes
-----------------------------------------------------------------*/


.feature-box {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.feature-box:first-child { margin-top: 0; }

.fbox-icon {
    width: 5.5rem;
    height: 4rem;
    padding: 0 0.75rem;
}

.fbox-icon a,
.fbox-icon i,
.fbox-icon img {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    color: #FFF;
}

.fbox-icon i,
.fbox-icon img {
    border-radius: 50%;
    background-color: #1ABC9C;
}

.fbox-icon i {
    font-style: normal;
    font-size: 1.75rem;
    line-height: 4rem;
    text-align: center;
}

.fbox-content {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
    padding: 0 0.75rem;
}

.fbox-content h3 {
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #333;
}

.fbox-content p {
    margin-top: 0.5rem;
    margin-bottom: 0px;
    color: #999;
}

.fbox-content .before-heading {
    font-size: 0.875rem;
}

.fbox-content-sm h3,
.fbox-content-sm p {
    font-size: 0.875rem;
}

.fbox-content-sm .before-heading {
    font-size: 0.75rem;
}

.fbox-content-lg h3 {
    font-size: 1.25rem;
}

.fbox-content-lg p {
    font-size: 1.125rem;
    margin-top: 0.75rem;
}

.fbox-content-lg .before-heading {
    font-size: 1rem;
}

/* Feature Box - Subtitle
-----------------------------------------------------------------*/

.fbox-content + .fbox-icon {
    margin-top: 1.5rem;
    margin-bottom: 0 !important;
}

.fbox-content h3 span.subtitle {
    display: block;
    margin-top: 5px;
    color: #444;
    font-weight: 300;
    text-transform: none;
}

.fbox-center.fbox-sep:not(.fbox-bg) h3::after {
    content: '';
    display: block;
    margin: 1.25rem auto;
    width: 2rem;
    height: 2px;
    background-color: #555;
    -webkit-transition: width .3s ease;
    -o-transition: width .3s ease;
    transition: width .3s ease;
}

.fbox-center.fbox-sep:not(.fbox-bg):hover h3::after { width: 3rem; }

.fbox-center.fbox-italic p {
    font-style: italic;
    font-family: 'Poppins', sans-serif;
}


/* Feature Box - Background
-----------------------------------------------------------------*/

.fbox-bg.fbox-center {
    margin-top: 2rem;
    margin-left: 0;
    margin-right: 0;
    padding: 0 2rem 2rem;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}

.fbox-bg.fbox-center .fbox-icon {
    margin-top: -2rem;
}

.fbox-bg.fbox-center .fbox-icon { background-color: #FFF; }


.fbox-bg.fbox-center.fbox-lg {
    margin-top: 3rem;
}

.fbox-bg.fbox-center.fbox-lg .fbox-icon {
    margin-top: -3rem;
}

.fbox-bg.fbox-center.fbox-xl {
    margin-top: 4rem;
}

.fbox-bg.fbox-center.fbox-xl .fbox-icon {
    margin-top: -4rem;
}


/* Media Featured Box - Used for How It Works
-----------------------------------------------------------------*/

.media-box {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    -ms-flex-direction: column;
    flex-direction: column;
}

.media-box .fbox-media { margin: 0 0 1.5rem; }

.media-box .fbox-media,
.media-box .fbox-media a,
.media-box .fbox-media img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.media-box .fbox-media iframe { display: block; }

.media-box p {
    margin-top: 1rem;
}

.media-box .fbox-content {
    -ms-flex-preferred-size: auto;
}

.media-box.fbox-bg .fbox-media { margin: 0; }

.media-box.fbox-bg .fbox-content {
    padding: 1.5rem;
    background-color: #FFF;
    border: 1px solid #E5E5E5;
    border-top: 0;
    border-radius: 0 0 5px 5px;
}

.media-box.fbox-bg .fbox-media img { border-radius: 5px 5px 0 0; }

/* FOR FAQs PAGE */

[class*="col-"]:not([class*="sticky-"]):not([class*="position-"]) {
    position: relative;
}

[class*="col-mb-"] > .col,
[class*="col-mb-"] > [class*="col-"] {
    padding-bottom: var(--col-mb);
}

[class*="gutter-"] > .col,
[class*="gutter-"] > [class*="col-"] {
    padding-right: calc(var(--custom-gutter) / 2);
    padding-left: calc(var(--custom-gutter) / 2);
    margin-top: var(--custom-gutter);
}

.postcontent,
.sidebar {
    position: relative;
}
.gutter-40 {
    --custom-gutter: 40px;
}
.col-mb-80 {
    --col-mb: 80px;
}

.grid-filter.style-4 li.activeFilter a::after {
    width: 100%;
    left: 0%;
    background-color: #1ABC9C;
}
.grid-filter.style-4 li a::after {
    content: '';
    position: absolute;
    top: auto;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.grid-filter.style-4 li a {
    padding: 13px 5px;
    border-radius: 0;
}
.grid-filter.style-2 li a, .grid-filter.style-3 li a, .grid-filter.style-4 li a {
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 22px;
    border: none;
}
.grid-filter li.activeFilter a {
    margin: -1px 0;
    padding-top: 11px;
    padding-bottom: 11px;
}
.grid-filter li:first-child a {
    border-left: none;
    border-radius: 4px 0 0 4px;
}
.grid-filter li.activeFilter a {
    color: #FFF;
    background-color: #1ABC9C;
    margin: 0;
    font-weight: bold;
}
.grid-filter li a:hover {
    color: #1ABC9C;
}
.grid-filter li a {
    border-left: 1px solid rgba(0,0,0,0.07);
    border-radius: 0;
}
.grid-filter li a {
    display: block;
    position: relative;
    padding: 10px 20px;
    font-size: 0.9375rem;
    color: #666;
    text-align: center;
    border-radius: 2px;
}
.grid-filter {
    list-style: none;
}
.grid-filter-wrap {
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}
.faqs .toggle {
    border-bottom: 1px solid #EEE;
    padding-bottom: 12px;
    margin-bottom: 12px;
}
.toggle {
    display: block;
    position: relative;
    margin: 0 0 20px 0;
    margin-bottom: 20px;
}
.faqs .toggle-content {
    padding-bottom: 10px;
}
.toggle-content, .accordion-content {
    /*display: none;*/
    position: relative;
    padding: 0.75rem 0;
    padding-bottom: 0.75rem;
    font-family: 'Poppins', sans-serif;
}
.toggle-title, .accordion-title {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 0px;
    font-family: 'Poppins', sans-serif;
}
.toggle-header, .accordion-header {
    cursor: pointer;
    color: #444;
    font-size: 1rem;
    font-weight: 600;
}
.toggle-icon, .accordion-icon {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    padding: 0 5px;
    text-align: center;
}

/* ----------------------------------------------------------------
	Featured Boxes
-----------------------------------------------------------------*/


.feature-box {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.feature-box:first-child { margin-top: 0; }

.fbox-icon {
    width: 5.5rem;
    height: 4rem;
    padding: 0 0.75rem;
}

.fbox-icon a,
.fbox-icon i,
.fbox-icon img {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    color: #FFF;
}

.fbox-icon i,
.fbox-icon img {
    border-radius: 50%;
    background-color: #1ABC9C;
}

.fbox-icon i {
    font-style: normal;
    font-size: 1.75rem;
    line-height: 4rem;
    text-align: center;
}

.fbox-content {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
    padding: 0 0.75rem;
}

.fbox-content h3 {
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #333;
    font-family: 'Poppins', sans-serif;
}

.fbox-content p {
    margin-top: 0.5rem;
    margin-bottom: 0px;
    color: #666;
    font-size: 1.05rem;
    font-family: 'Poppins', sans-serif;
}

.fbox-content .before-heading {
    font-size: 0.875rem;
}

.fbox-content-sm h3,
.fbox-content-sm p {
    font-size: 0.875rem;
}

.fbox-content-sm .before-heading {
    font-size: 0.75rem;
}

.fbox-content-lg h3 {
    font-size: 1.25rem;
}

.fbox-content-lg p {
    font-size: 1.125rem;
    margin-top: 0.75rem;
}

.fbox-content-lg .before-heading {
    font-size: 1rem;
}

/* Feature Box - Subtitle
-----------------------------------------------------------------*/

.fbox-content + .fbox-icon {
    margin-top: 1.5rem;
    margin-bottom: 0 !important;
}

.fbox-content h3 span.subtitle {
    display: block;
    margin-top: 5px;
    color: #444;
    font-weight: 300;
    text-transform: none;
}

.fbox-center.fbox-sep:not(.fbox-bg) h3::after {
    content: '';
    display: block;
    margin: 1.25rem auto;
    width: 2rem;
    height: 2px;
    background-color: #555;
    -webkit-transition: width .3s ease;
    -o-transition: width .3s ease;
    transition: width .3s ease;
}

.fbox-center.fbox-sep:not(.fbox-bg):hover h3::after { width: 3rem; }

.fbox-center.fbox-italic p {
    font-style: italic;
    font-family: 'Poppins', sans-serif;
}


/* Feature Box - Background
-----------------------------------------------------------------*/

.fbox-bg.fbox-center {
    margin-top: 2rem;
    margin-left: 0;
    margin-right: 0;
    padding: 0 2rem 2rem;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}

.fbox-bg.fbox-center .fbox-icon {
    margin-top: -2rem;
}

.fbox-bg.fbox-center .fbox-icon { background-color: #FFF; }


.fbox-bg.fbox-center.fbox-lg {
    margin-top: 3rem;
}

.fbox-bg.fbox-center.fbox-lg .fbox-icon {
    margin-top: -3rem;
}

.fbox-bg.fbox-center.fbox-xl {
    margin-top: 4rem;
}

.fbox-bg.fbox-center.fbox-xl .fbox-icon {
    margin-top: -4rem;
}


/* Media Featured Box
-----------------------------------------------------------------*/

.media-box {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    -ms-flex-direction: column;
    flex-direction: column;
}

.media-box .fbox-media { margin: 0 0 1.5rem; }

.media-box .fbox-media,
.media-box .fbox-media a,
.media-box .fbox-media img {
    position: relative;
    display: block;
    width: 100%;
    height: 216px;
    object-fit: contain;
}

.media-box .fbox-media iframe { display: block; }

.media-box p { margin-top: 1rem; }

.media-box .fbox-content {
    -ms-flex-preferred-size: auto;
}

.media-box.fbox-bg .fbox-media { margin: 0; }

.media-box.fbox-bg .fbox-content {
    padding: 1.5rem;
    background-color: #FFF;
    border: 1px solid #E5E5E5;
    border-top: 0;
    border-radius: 0 0 5px 5px;
}

.media-box.fbox-bg .fbox-media img { border-radius: 5px 5px 0 0; }

/* PAGE TITLE CUSTOM FOR FAQs */

#page-title {
    position: relative;
    padding: 4rem 0;
    background-color: #F5F5F5;
    border-bottom: 1px solid #EEE;
}

.responsive-image {
    height: 230.63px;
    object-fit: cover;
    /*background-size: cover;
    background-repeat: no-repeat;
    background-position: center;*/
}

/* Mealkit top menu */
.tab-underline {
    --animation-time: 500ms;
    position: relative;
    overflow: hidden;
    --underline-color: #a6c36f;
    --underline-size: 5px;
    color: inherit;
    padding: 20px;
    text-decoration: none;
    white-space: nowrap;
    line-height: 1;
}

.tab-underline::after {
    content: '';
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    position: absolute;
    background-color: #146B36;
    transition: transform ease 500ms, opacity ease 0ms 200ms;
    transform: translateX(100%);
    opacity: 0;
}

.tab-underline:hover ~ .tab-underline::after {
    transform: translateX(-100%)
}

.tab-underline.active::after,
.tab-underline:hover::after {
    transform: translateX(0%);
    opacity: 1;
}

.nav-tabs .nav-link {
    border: none;
}

.mealweeks {
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 42px;
    -webkit-box-shadow: 0 4px 6px -6px black;
    -moz-box-shadow: 0 4px 6px -6px black;
    box-shadow: 0 4px 6px -6px black;
}

.mealweeks .title {
    height: 100%;
    color: #C81019;
    align-items: center;
    display: flex;
}

.mealweeks .btnsubscribe{
    align-items: end;
    display: flex;
    justify-content: end;
}

/* ------------------START: LOGIN / SIGNUP------------------------*/
.login-section::before,
.login-section::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
.login-section {
    padding: 7em 0; }
.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }

.wrap {
    width: 100%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24); }

.text-wrap, .login-wrap {
    width: 50%; }

.text-wrap hr{
    background-color: rgba(255,255,255,0.3);
}
@media (max-width: 991.98px) {
    .text-wrap, .login-wrap {
        width: 100%; } }

.text-wrap {
    background: #0F6833;
    background: -moz-linear-gradient(-45deg, #0F6833 0%, #80B317 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #0F6833), color-stop(100%, #80B317));
    background: -webkit-linear-gradient(-45deg, #0F6833 0%, #80B317 100%);
    background: -o-linear-gradient(-45deg, #0F6833 0%, #80B317 100%);
    background: -ms-linear-gradient(-45deg, #0F6833 0%, #80B317 100%);
    background: -webkit-linear-gradient(315deg, #0F6833 0%, #80B317 100%);
    background: -o-linear-gradient(315deg, #0F6833 0%, #80B317 100%);
    background: linear-gradient(135deg, #0F6833 0%, #80B317 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0F6833', endColorstr='#80B317', GradientType=1 );
    color: #fff; }
.text-wrap .text h2 {
    font-weight: 700;
    color: #fff; }

.login-wrap {
    position: relative;
    background: #fff; }
.login-wrap h3 {
    font-weight: 300; }

.form-group {
    position: relative; }
.form-group .label {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
    font-weight: 700; }
.form-group a {
    font-size: 14px;
    color: gray;
}
.form-group a:hover {
    font-size: 14px;
    color: #444444;
}

.form-control {
    height: 48px;
    background: rgba(0, 0, 0, 0.05);
    color: #000;
    font-size: 16px;
    border-radius: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
@media (prefers-reduced-motion: reduce) {
    .form-control {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.2) !important; }
.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.2) !important; }
.form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0, 0, 0, 0.2) !important; }
.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.2) !important; }
.form-control:focus, .form-control:active {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: rgba(0, 0, 0, 0.07);
    border-color: transparent; }

.social-media {
    position: relative;
    width: 100%; }
.social-media .social-icon {
    display: block;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 16px;
    margin-right: 5px;
    border-radius: 50%; }
.social-media .social-icon span {
    color: #999999; }
.social-media .social-icon:hover, .social-media .social-icon:focus {
    background: #333; }
.social-media .social-icon:hover span, .social-media .social-icon:focus span {
    color: #fff; }

.checkbox-wrap {
    display: block;
    position: relative;
    padding-left: 22px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

/* Hide the browser's default checkbox */
.checkbox-wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    font-family: "Font Awesome 5 Free"; font-weight: 400; content: "\f0c8";
    position: absolute;
    color: rgba(0, 0, 0, 0.3);
    font-size: 18px;
    margin-top: -4px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
@media (prefers-reduced-motion: reduce) {
    .checkmark:after {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }

/* Show the checkmark when checked */
.checkbox-wrap input:checked ~ .checkmark:after {
    display: block;
    font-family: "Font Awesome 5 Free"; font-weight: 400; content: "\f14a";
    color: #0F6833; }

/* Style the checkmark/indicator */

.btn {
    cursor: pointer;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 50px; }
.btn:hover, .btn:active, .btn:focus {
    outline: none; }
.btn.btn-login {
    color: #fff;
    background: #80B317;
    background: -moz-linear-gradient(-45deg, #0F6833 0%, #80B317 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #0F6833), color-stop(100%, #80B317));
    background: -webkit-linear-gradient(-45deg, #0F6833 0%, #80B317 100%);
    background: -o-linear-gradient(-45deg, #0F6833 0%, #80B317 100%);
    background: -ms-linear-gradient(-45deg, #0F6833 0%, #80B317 100%);
    background: -webkit-linear-gradient(315deg, #0F6833 0%, #80B317 100%);
    background: -o-linear-gradient(315deg, #0F6833 0%, #80B317 100%);
    background: linear-gradient(135deg, #0F6833 0%, #80B317 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0F6833', endColorstr='#80B317', GradientType=1 ); }
.btn.btn-login:hover {
    background: #254A25;
    color: #fff; }
.btn.btn-white {
    background: #fff;
    border: 1px solid #fff;
    color: #fff; }
.btn.btn-white:hover {
    border: 1px solid #fff;
    background: transparent;
    color: #fff; }
.btn.btn-white.btn-outline-white {
    border: 1px solid #fff;
    background: transparent;
    color: #fff; }
.btn.btn-white.btn-outline-white:hover {
    border: 1px solid transparent;
    background: #fff;
    color: #000; }
/* ------------------ END: LOGIN / SIGNUP------------------------*/
/* ------------------ START: SHOPPING ---------------------------*/
.shop-section.section-box {
    padding: 60px 0 60px;
}
.shop-section .shop-content {
    margin-bottom: 30px;
    padding-bottom: 5px;
}
.shop-section .shop-content .shop-image {
    position: relative;
}

.shop-section .shop-content .shop-image img {
    object-fit: cover;
    height: 250px;
    width: 100%;
}

.shop-section .shop-content .shop-detail {
    text-align: left;
    margin-top: 16px;
}

.shop-section .shop-content .shop-detail h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

/*.shop-section .shop-content .shop-detail p {
    font-size: 14px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; !* number of lines to show *!
    line-clamp: 2;
    -webkit-box-orient: vertical;
}*/

.shop-section .shop-content .shop-detail .price {
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    margin: auto 0 auto 0;
}
.btn.btn-cart {
    background-color: #0F6833;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 50px;
    color: white;
    margin-top: 5px;
}
.btn.btn-cart:hover {
    background-color: #0a2b1d;
    color: white;
}

.quantity {
    display: -ms-inline-flexbox;
    display: inline-flex;
    justify-content: center;
    align-items: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 30px;
}

.quantity input[type=number]::-webkit-inner-spin-button,
.quantity input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.quantity .qty {
    width: 100px;
    height: 40px;
    line-height: 40px;
    border: 0;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    background-color: #EEE;
    text-align: center;
    margin-bottom: 0;
}

.quantity .plus,
.quantity .minus {
    display: block;
    cursor: pointer;
    border: 0px transparent;
    padding: 0;
    width: 36px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #EEE;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color .2s linear;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
}

.quantity .plus:hover,
.quantity .minus:hover { background-color: #DDD; }

.quantity .qty:focus,
.quantity .plus:focus,
.quantity .minus:focus {
    box-shadow: none !important;
    outline: 0 !important;
}
/* ------------------ END: SHOPPING ---------------------------*/

.error{color: #ff0000}
