/* Blog Section of BG v1 */
.blog-grid-v1-section.section-box {
	padding: 120px 0 60px;
}
.blog-grid-v1-section {
	.blog-content {
		margin-bottom: 53px;
		.blog-image {
			position: relative;
			.overlay {
				background: rgba(0,0,0,0.6);
			}
			i {
				color: #fff;
				font-size: 22px;
				position: absolute;
				top: 50%;
				left: 50%;
				@include transform(translate(-50%,-50%));
				opacity: 0;
				z-index: 9;
			}
			&:hover {
				.overlay,
				i {
					opacity: 1;
				}
				.overlay {
					@include transform(scale(1.02));
				}
				img {
					@include transform(scale(1.02));
					@include transition(all 0.5s ease 0.1s);
				}
			}
		}
		.blog-detail {
			text-align: center;
			padding: 0 30px;
			h3 {
				font-size: 22px;
			}
			p {
				font-size: 14px;
				margin-top: 10px;
			}
			.date-cmt {
			    @extend display-flex;
			    @include align-items(center);
			    @include justify-content(center);
			    .date {
					span {
						font-size: 13px;
						position: relative;
						padding-right: 15px;
	    				margin-right: 15px;
						&:before {
							content: '';
							width: 1px;
							height: 15px;
							background: #ccc;
							position: absolute;
							right: 0;
	    					top: 50%;
	    					@include transform(translateY(-50%));
						}
					}
					i {
						margin-top: 5px;
					}
			    }
			    .comment {
					a {
						color: #666;
						font-size: 13px;
						&:hover {
							color: #d9a868;
						}
					}
					i {
						margin-top: 3px;
					}
			    }
				i {
					font-size: 16px;
					padding-right: 10px;
					float: left;
				}
			}
		}
	}
}
/* End Blog Section of BG v1 */

/* Blog Section of BG v2 */
.blog-grid-v1-section.blog-grid-v2-section.section-box {
	padding: 130px 0 55px;
}
.blog-grid-v1-section.blog-grid-v2-section {
	.blog-content {
		margin-bottom: 58px;
		.blog-image {
			i {
				font-size: 30px;
			}
		}
		.blog-detail {
			h3 {
				font-size: 28px;
				padding: 43px 0 11px;
			}
			p {
				font-size: 15px;
				margin-top: 13px;
			}
		}
	}
}
/* End Blog Section of BG v2 */

/* Blog Section Of Blog List Page */
.blog-list-section.blog-grid-v1-section.section-box {
	padding: 120px 0 108px;
}
.blog-list-section.blog-grid-v1-section {
	.owl-carousel {
		.owl-item {
			.blog-content {
				margin-bottom: 15px;
			}
			.blog-image {
				margin: 0 -15px 33px 0;
				position: relative;
				.overlay {
					background: rgba(218,188,149,0.4);
				}
				.figcaption {
					position: absolute;
				    top: 0;
				    left: 0;
				    width: 100%;
				    height: 100%;
				    &:before,
				    &:after {
			    	    position: absolute;
					    top: 20px;
					    right: 20px;
					    bottom: 20px;
					    left: 20px;
					    content: '';
					    opacity: 0;
					    @include transition((opacity 0.55s, transform 0.55s));
					    z-index: 99;
				    }
				    &:before {
				    	border-top: 1px solid #fff;
					    border-bottom: 1px solid #fff;
					    @include transform(scale(0, 1));
				    }
				    &:after {
			    	    border-right: 1px solid #fff;
					    border-left: 1px solid #fff;
					    @include transform(scale(1, 0));
				    }
				}
				&:hover {
					.overlay {
						opacity: 1;
					}
					img,
					.overlay {
						@include transform(scale(1));
					}
					.figcaption {
						&:before,
				    	&:after {
				    		opacity: 1;
				    		@include transform(scale(1));
				    	}
					}
				}
			}
			.blog-detail {
				text-align: left;
				border: 1px solid #e5e5e5;
				margin-left: -15px;
				border-left: none;
				padding: 10px 30px 52px 55px;
				h3 {
					font-size: 25px;
					padding-bottom: 15px;
				}
				p {
					font-size: 15px;
					margin: 15px 0 38px;
				}
				.more-link {
					font-size: 18px;
				}
				.date-cmt {
					@include justify-content(flex-start);
				}
			}
		}
	}
	.owl-theme {
		.owl-nav,
		.owl-thumbs {
			display: none;
		}
		.owl-dots {
			.owl-dot {
				@include outline(none);
				span {
					background: rgba(0,0,0,0.1);
				}
				&:hover {
					span {
						background: #000;
					}
				}
			}
			.owl-dot.active {
				span {
					background: #000;
				}
			}
		}
	}
}
/* End Blog Section Of Blog List Page */

/* Blog Section of Blog Sidebar Page */
.blog-sidebar-section.blog-grid-v1-section.section-box {
	padding-bottom: 50px;
}
.blog-sidebar-section.blog-grid-v1-section {
	.woocommerce {
		.content-area {
			margin-right: 20px;
			.blog-content {
				margin-bottom: 61px;
				.blog-image {
					position: relative;
					.overlay {
						background: rgba(218,188,149,0.4);
					}
					.figcaption {
						position: absolute;
					    top: 0;
					    left: 0;
					    width: 100%;
					    height: 100%;
					    &:before,
					    &:after {
				    	    position: absolute;
						    top: 20px;
						    right: 20px;
						    bottom: 20px;
						    left: 20px;
						    content: '';
						    opacity: 0;
						    @include transition((opacity 0.55s, transform 0.55s));
						    z-index: 99;
					    }
					    &:before {
					    	border-top: 1px solid #fff;
						    border-bottom: 1px solid #fff;
						    @include transform(scale(0, 1));
					    }
					    &:after {
				    	    border-right: 1px solid #fff;
						    border-left: 1px solid #fff;
						    @include transform(scale(1, 0));
					    }
					}
					&:hover {
						.overlay {
							opacity: 1;
						}
						img,
						.overlay {
							@include transform(scale(1));
						}
						.figcaption {
							&:before,
					    	&:after {
					    		opacity: 1;
					    		@include transform(scale(1));
					    	}
						}
					}
				}
				.blog-detail {
					text-align: left;
					padding: 10px 20px 0 0;
					h3 {
						font-size: 25px;
					    padding: 38px 0 10px;
					}
					p {
						font-size: 15px;
						margin-bottom: 28px;
					}
					.more-link {
						font-size: 16px;
					}
					.date-cmt {
						@include justify-content(flex-start);
					}
				}
			}
		}
		.widget-area {
			.widget-title {
				padding-bottom: 18px;
				margin-bottom: 25px;
				position: relative;
				font-size: 22px;
				&:after {
					position: absolute;
					bottom: 0;
					left: 0;
					background: #e5e5e5;
					height: 1px;
					width: 100%;
					content: '';
				}
			}
			.widget_search {
				position: relative;
				margin-bottom: 57px;
				input {
					background: #f2f2f2;
					padding: 16.5px 25px;
					font-weight: 400;
					@include input-placeholder(#999);
				}
				.search-submit {
				    position: absolute;
				    bottom: 4%;
				    right: 5%;
				    background: transparent;
				    border: none;
				    color: #666;
				    font-size: 20px;
				    @include outline(none);
				    cursor: pointer;
				}
			}
			.widget_product_categories {
				padding-bottom: 38px;
				.product-categories {
					padding-top: 4px;
					.cat-item {
						padding-bottom: 12px;
						a {
							color: #666;
							font-size: 16px;
							&:hover {
								color: #dabc95;
							}
						}
					}
				}
			}
			.widget_recent_entries {
				padding-bottom: 42px;
				.recent-inner {
					margin-bottom: 15px;
    				overflow: hidden;
					img {
						width: 65px;
						height: 65px;
						float: left;
					}
					.recent-info {
						margin: -68px 0 10px 80px;
						a {
							font-size: 17px;
							font-family: 'Josefin Sans', sans-serif;
							font-weight: 600;
							display: block;
							margin-bottom: -3px;
						}
						.day {
							font-style: italic;
							font-size: 12px;
							color: #999;
						}
					}
				}
			}
			.widget_tag_cloud {
				padding-bottom: 50px;
				.tagcloud {
					overflow: hidden;
					span {
						font-family: 'Josefin Sans', sans-serif;
					    font-size: 13px;
						border: 1px solid #e5e5e5;
					    float: left;
					    margin-bottom: 10px;
					    margin-right: 10px;
					}
					a {
						color: #666;
					    padding: 4.5px 16px;
					    &:hover {
					    	color: #dabc95;
					    }
					}
				}
			}
		}
	}
}
/* End Blog Section of Blog Sidebar Page */

/* Blog Section of Blog Details Page */
.blog-details-section.blog-sidebar-section.section-box {
	padding-top: 60px;
	padding-bottom: 30px;
}
.blog-details-section.blog-sidebar-section {
	.woocommerce {
		.content-area {
			margin-right: 15px;
			.blog-content {
				margin-bottom: 70px;
				.blog-detail {
					padding: 0;
					h3 {
						font-size: 30px;
						padding: 0 0 13px;
					}
					.date-cmt {
						padding-bottom: 30px;
					}
					p {
						margin-bottom: 11px;
					}
					figure {
						margin-bottom: 43px;
					}
					.quote {
						border: 1px solid #e5e5e5;
						font-size: 22px;
						font-family: 'Josefin Sans', sans-serif;
						color: #333;
						margin: 38px 0 37px;
						text-align: center;
					    padding: 49px 40px 43px;
    					line-height: 1.3;
					}
					.socials {
					    @extend display-flex;
					    @include justify-content(space-between);
					    @include align-items(center);
					    padding-top: 24px;
    					border-top: 1px solid #e5e5e5;
    					margin-top: 78px;
    					font-family: 'Josefin Sans', sans-serif;
					    .tags {
					    	span {
					    		margin-right: 10px;
					    	}
					    	a {
					    		color: #fff;
				    		    padding: 1px 15px 0;
					    		margin-right: 5px;
					    		background: #dabc95;
					    		font-size: 13px;
					    		&:hover {
					    			color: #dabc95;
					    			background: #f2f2f2;
					    		}
					    	}
					    }
					    .socials-inner {
					    	a {
					    		margin-left: 10px;
					    		color: #666;
					    		&:hover {
									color: #dabc95;
					    		}
					    	}
					    }
					}
					h4 {
					    font-size: 30px;
					    padding: 61px 0 24px;
					}
					.media {
						display: block;
						border-bottom: 1px solid #e5e5e5;
						padding-bottom: 13px;
						.comment-content {
							@extend display-flex;
							.media-left {
								img {
									width: 70px;
									height: 70px;
									@include border-radius(50%);
								}
							}
							.media-body {
								margin: 7px 0 27px 25px;
								.media-heading {
									h5 {
										font-size: 20px;
										span {
											font-family: 'Libre Baskerville', serif;
											font-size: 13px;
											font-weight: 400;
											color: #999;
											padding-left: 14px;
										}
									}
								}
								p {
									margin-bottom: 14px;
								}
								a {
									font-family: 'Josefin Sans', sans-serif;
									font-weight: 700;
									font-size: 14px;
									i {
										padding-right: 10px;
									}
								}
							}
						}
						.media {
							margin-left: 95px;
							border-bottom: none;
						}
					}
					.quote-form {
						h4 {
							padding-top: 42px;
						}
						.form-input {
							margin-bottom: 30px;
							input {
								background: #f2f2f2;
								padding: 16.5px 20px;
								font-size: 14px;
								@include input-placeholder(#999);
							}
						}
						.form-textarea {
							height: 202px;
							textarea {
								background: #f2f2f2;
								@include textarea-placeholder(#999);
							}
						}
						.form-bottom {
							padding-top: 50px;
							.btn-small {
							    padding: 0px 51.5px;
							    cursor: pointer;
							    line-height: 55px;
							    height: 50px;
							}
						}
					}
				}
			}
		}
	}
}
/* End Blog Section of Blog Details Page */
