/* Contact v1 Section */
.contact-v1-section {
	.contact-content {
		padding: 0 20px 80px 0;
		.get-in {
			padding-bottom: 22px;
		}
		.follow {
		    padding: 34px 0 23px;
		}
		.socials {
			a {
				position: relative;
				margin-right: 10px;
				@include border-radius(50%);
				width: 50px;
				height: 50px;
				background: #f2f2f2;
				color: #999;
				i {
					position: absolute;
					top: 50%;
					left: 50%;
					@include transform(translate(-50%,-50%));
					font-size: 17px;
				}
				&:hover {
					background: #333;
					color: #fff;
				}
			}
		}
	}
	.quote-form {
		.form-contact {
			.form-input {
				margin-bottom: 20px;
				position: relative;
				input {
					background: #f2f2f2;
					padding: 16.5px 25px;
					@include input-placeholder(#999);
				}
				i {
					position: absolute;
					top: 35%;
					right: 3.5%;
					font-size: 17px;
				}
			}
			.form-textarea {
				height: 140px;
				textarea {
					background: #f2f2f2;
					@include textarea-placeholder(#999);
				}
			}
			.form-bottom {
				margin: 45px 0 20px;
				.btn-small {
				    padding: 0px 51.5px;
				    cursor: pointer;
				    line-height: 55px;
				    height: 50px;
				}
			}
		}
	}
}
/* End Contact v1 Section */

/* Contact v2 Section */
.contact-v2-section.section-box {
	padding-top: 120px;
}
.contact-v2-section {
	.contact-content {
		padding: 33px 10px 50px 0;
		h3 {
			font-size: 25px;
			padding-bottom: 19px;
		}
		p {
			margin-bottom: 32px;
		}
		.contact-info {
			padding: 0 10px 25px 0;
			i {
				color: #dabc95;
				font-size: 26px;
			}
			h4 {
				font-size: 20px;
				font-weight: 400;
			    padding: 17px 0 4px;
			}
			a {
				display: block;
				color: #666;
				padding-bottom: 6px;
				&:hover {
					color: #dabc95;
				}
			}
			.time{
				font-size: 14px;
				.time-inner {
					@extend display-flex;
					@include justify-content(space-between);
					@include align-items(center);
					padding-bottom: 8px;
					.hour {
						color: #999;
					}
				}
			}
		}
		.contact-email {
			span {
				font-size: 14px;
				display: block;
				padding-bottom: 8px;
			}
		}
		.contact-address {
			padding: 0 25px 25px 0;
		}
	}
	.quote-form {
		margin-left: 70px;
		@include box-shadow(0px 3px 10px 0px rgba(0, 0, 0, 0.1));
		padding: 57px 40px 80px;
		h3 {
			font-size: 25px;
			padding-bottom: 9px;
		}
		p {
			margin-bottom: 8px;
		}
		.form-contact {
			.form-input {
			    margin-bottom: 10px;
			    input {
			    	padding: 25px 0px 21px;
				    border: none;
				    border-bottom: 1px solid #e5e5e5;
			    }
			}
			.form-bottom {
				padding-top: 35px;
				.btn-small {
				    padding: 0px 51.5px;
				    cursor: pointer;
				    line-height: 55px;
				    height: 50px;
				}
			}
		}
	}
}
/* End Contact v2 Section */
