/* Gallery Section of GG V1 */
.gallery-section-v1.section-box {
	padding: 120px 0 90px;
}
.gallery-section-v1.gallery-hp-1 {
	.gallery-content {
		padding: 0;
		.gallery-detail {
			margin: 0 0 30px;
			.overlay {
			    background: rgba(0, 0, 0, 0.7);
			}
		}
	}
}
/* End Gallery Section of GG V1 */

/* Gallery Section of GW */
.gallery-section-wall.gallery-hp-1 {
	.container-fluid {
		padding-right: 0;
		padding-left: 0;
	}
	.gallery-content {
		.gallery-detail {
			.overlay {
			    background: rgba(0, 0, 0, 0.6);
			}
		}
	}
}
/* End Gallery Section of GW */