/* Slider Revolution Section */
.style-home-slider-hp-1 {
	.slide-caption-title-1 {
		font-family: 'Satisfy', cursive;
	}
	.slide-caption-title-2 {
		font-family: 'Josefin Sans', sans-serif;
	}
	.wrap-scroll-slider1 {
		position: absolute;
	    width: 100%;
	    bottom: 45px;
	    left: 0;
	    .scroll-slider1 {
	    	@extend display-flex;
			@include justify-content(center);
			@include transition(all 0.5s);
			width: 30px;
			height: 55px;
			background: transparent;
			border: 2px solid #fff;
			@include border-radius(15px);
			padding-top: 11px;
			&:before {
				content: "";
			    display: block;
			    width: 6px;
			    height: 6px;
			    background-color: #fff;
			    @include border-radius(50%);
			    top: 10px;
			    @include transition(all 0.5s);
			}
			&:hover {
				&:before {
					@include transform(translateY(18px));
				}
			}
	    }
	}
	.display-flex-center {
		@extend display-flex;
		@include justify-content(center);
		@include align-items(center);
	}
}
/* End Slider Revolution Section */

/* Our Story Section */
.story-hp-1 {
	.story-images {
		margin-left: 10px;
		padding: 2px 5px 0;
		.image-inner {
		    margin: 0 -5px;
		}
	}
	.story-content {
		padding: 35px 15px 0 0;
		.special-heading,
		.special-heading-1 {
			text-align: left;
		}
		.special-heading-1 {
			padding-bottom: 25px;
		}
		p {
			color: #999;
			font-size: 18px;
			font-style: italic;
		}
		.story-quote {
			padding-top: 20px;
			img {
				width: 65px;
				height: 65px;
				@include border-radius(50%);
				float: left;
				margin-top: -5px;
			}
			.info {
				margin-left: 80px;
				span {
					display: block;
				}
				.name {
					font-family: 'Josefin Sans', sans-serif;
					font-size: 18px;
					font-weight: 700;
					color: #333;
					margin-bottom: -2px;
				}
				.job {
					font-size: 14px;
				}
			}
		}
	}
}
/* End Our Story Section */

/* Feature Section */
.feature-hp-1.section-box {
	padding: 110px 0;
}
.feature-hp-1 {
	background-position: center center;
	background-repeat: no-repeat;
	@include background-size(cover);
	.owl-carousel {
		.owl-item {
			.feature-content {
			    padding: 0 70px;
		        @extend display-flex;
			    @include align-items(center);
			    @include justify-content(center);
			    .feature-detail {
			    	background: #fff;
			    	width: 93%;
			    	padding: 63px 50px 90px 60px;
			    	.special-heading,
			    	.special-heading-1 {
			    		text-align: left;
			    	}
			    	.special-heading-1 {
			    		padding: 8px 0 13px;
			    	}
			    	p {
			    		font-size: 16px;
			    		margin-bottom: 48px;
			    	}
			    	.btn-medium {
				        padding: 0px 43.5px;
					    height: 60px;
					    line-height: 65px;
					}
			    }
			    .feature-image {
			    	@include box-shadow(0px 3px 8px 0px rgba(0, 0, 0, 0.2));
			    }
			}
		}
		.owl-nav [class*=owl-] {
			background: transparent;
			@include outline(none);
		}
		.owl-nav.disabled {
			display: block;
		}
		.owl-nav {
			.owl-next,
			.owl-prev {
				position: absolute;
			    color: rgba(255,255,255,0.4);
			    font-size: 45px;
			    top: 50%;
			    @include transform(translateY(-50%));
			    @include transition(0.4s);
			    &:hover {
			    	color: #fff;
			    }
			}
			.owl-next {
				right: -0.5%;
				&:hover {
					i {
						&:before {
							content: '\f301';
						}
					}
				}
			}
			.owl-prev {
				left: -0.5%;
				&:hover {
					i {
						&:before {
						    content: '\f2ff';
						}
					}
				}
			}
		}
	}
	.owl-theme {
		.owl-dots,
		.owl-thumbs {
			display: none;
		}
	}
}

/* End Feature Section */

/* Our Menu Section */
.menu-hp-1 {
	.special-heading-1 {
		padding-bottom: 43px;
	}
	.menu-total {
		position: relative;
	}
	.owl-carousel {
		margin-top: 50px;
		.owl-dots,
		.owl-nav {
			display: none;
		}
		.owl-thumbs {
			text-align: center;
			position: absolute;
		    width: 100%;
		    top: -12.5%;
			.owl-thumb-item {
			    border: none;
			    background: transparent;
			    @include outline(none);
			    cursor: pointer;
			    font-family: 'Josefin Sans', sans-serif;
			    font-size: 18px;
			    padding: 0 26px;
			    color: #666;
			}
			.owl-thumb-item.active {
				color: #333;
				position: relative;
				&:after {
					width: 6px;
					height: 6px;
					content: '';
					background: #dabc95;
					position: absolute;
					top: 100%;
					left: 50%;
					@include transform(translateX(-50%));
					@include border-radius(50%);
				}
			}
		}
		.owl-stage-outer {
			border: 2px solid #e5e5e5;
		}
		.owl-item {
			.menu-content {
				.menu-title {
					margin-right: 40px;
					position: relative;
					@extend display-flex;
				    @include justify-content(center);
				    @include align-items(center);
					.rotate {
						@include transform(rotate(90deg));
					    font-family: 'Josefin Sans', sans-serif;
					    font-size: 45px;
					    font-weight: 700;
					    color: #fff;
					    position: absolute;
					}
				}
				.menu-detail {
					.menu-inner {
						padding-top: 55px;
						.food-images {
							img {
								width: 80px;
								height: 80px;
								@include border-radius(50%);
								@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.18));
							}
						}
						.food-info {
							span {
								display: block;
							}
							.name {
								font-family: 'Josefin Sans', sans-serif;
								font-weight: 700;
								font-size: 16px;
								color: #333;
								padding: 31px 0 4px;
							}
							.description {
								margin-bottom: -17px;
							}
						}
					}
				}
				.menu-detail-1 {
					margin: 0 70px 0 20px;
				}
			}
		}
	}
	.hash-image {
		width: 100%;
		text-align: center;
		padding-bottom: 30px;
		a {
			padding: 0 30px;
		}
	}
	.view {
		text-align: center;
		padding-top: 65px;
		.btn-medium {
			padding: 0 53.5px;
			height: 60px;
		    line-height: 65px;
		}
	}
}

/* End Our Menu Section */

/* CTA Section */
.cta-hp-1 {
	background-position: center center;
	background-repeat: no-repeat;
	@include background-size(cover);
	text-align: center;
	.cta-content {
	    padding: 90px 0 96px;
	    width: 60%;
	    margin: 0 auto;
		h2 {
			font-size: 60px;
			color: #fff;
			line-height: 1.3;
		}
	}
}
/* End CTA Section */

/* Gallery Section */
.gallery-hp-1 {
	.gallery-content {
		padding: 0 15px;
		.gallery-detail {
			margin: 0 -15px;
			position: relative;
			cursor: pointer;
			.overlay {
				background: rgba(0,0,0,0.5);
			}
			.gallery-zoom {
				position: absolute;
				top: 50%;
				left: 50%;
				@include transform(translate(-50%,-50%));
				font-size: 30px;
				cursor: pointer;
				z-index: 99;
				opacity: 0;
				a {
					color: #fff;
				}
			}
			&:hover {
				.overlay,
				.gallery-zoom {
					opacity: 1;
				}
			}
		}
		.view {
			text-align: center;
			padding-top: 65px;
			.btn-medium {
				padding: 0 53.5px;
				height: 60px;
			    line-height: 65px;
			}
		}
	}
}
/* End Gallery Section */

/* Map Section */
.map-section {
	.js-map-holder {
		height: 400px;
	}
}
/* End Map Section */

/* Book Table */
.book-table-hp-1 {
	text-align: center;
	background: #f2f2f2;
	.book-content {
		padding: 0 70px;
	}
	.special-heading-1 {
		padding-bottom: 27px;
	}
	p {
		width: 45%;
		margin: 0 auto;
	}
	.form-detail {
		.form-group {
			background: #fff;
		    padding: 42px 70px;
    		overflow: hidden;
    		margin: 38px 0 0;
			.form-row {
				margin-left: 0;
			    width: 25%;
			    float: left;
			    margin-right: 20px;
			    position: relative;
			    @include flex-wrap(nowrap);
    			@include justify-content(space-between);
    			@include align-items(center);
			    select {
			    	padding: 11.5px 15px;
			    	position: relative;
				    cursor: pointer;
				    background: 0 0;
				    z-index: 1;
			        margin-right: 19px;
			    }
			    input {
			    	padding: 16.5px 15px;
			    	cursor: pointer;
			    	margin-right: 19px;
			    }
			    input.btn-medium {
			        padding: 0px 43.5px;
				    height: 50px;
				    line-height: 55px;
				}
				.select-btn {
				    position: absolute;
				    right: 27%;
				    top: 20%;
				    z-index: 0;
				}
				.ui-datepicker-trigger {
				    position: absolute;
				    top: 22%;
				    right: 21%;
				    border: none;
				    background: transparent;
				    outline: none;
				    cursor: pointer;
				    color: #666;
				}
				.special {
					color: #333;
					font-family: 'Josefin Sans', sans-serif;
					font-weight: 700;
				}
				&:last-child {
					margin-right: 0;
					input {
						margin-right: 0;
					}
				}
			}
			.form-row.form-row-1 {
				width: 24.2%;
			}
			.form-row.form-row-2 {
				width: 21.25%;
				select {
					margin-right: 9px;
				}
				.select-btn{
					right: 15%;
				}
			}
			.form-row.form-row-3 {
				width: 22.5%;
			}
		}
	}
}
/* End Book Table */