/* Slider Revolution Section */
.style-home-slider-hp-1.style-home-slider-hp-4 {
	.slide-caption-title-1 {
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 700;
	}
	.slide-caption-title-2 {
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 400;
	}
}
/* End Slider Revolution Section */

/* Book Table */
.book-table-hp-1.book-table-hp-4 {
	background: #fff;
	.form-detail {
		.form-group {
			@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.1));
		}
	}
}
/* End Book Table */

/* Gallery Section */
.gallery-hp-4 {
	.view {
		text-align: center;
		padding-top: 65px;
		.btn-medium {
			padding: 0 53.5px;
			height: 60px;
			line-height: 65px;
		}
	}
}
/* End Gallery Section */

/* Featured Section */
.feature-hp-4.section-box {
	padding-bottom: 108px;
}
.feature-hp-4 {
	.special-heading-1 {
		padding-bottom: 39px;
	}
	.owl-carousel {
		.owl-nav,
		.owl-thumbs {
			display: none;
		}
		.owl-stage-outer {
		    margin: 0 -10px;
			padding: 0 10px;
		}
		.owl-dots {
			text-align: left;
			.owl-dot {
				@include outline(none);
				span {
					background: rgba(0,0,0,0.1);
				    margin: 5px 10px 5px 0;
					&:hover {
						background: #333;
					}
				}
			}
			.owl-dot.active {
				span {
					background: #333;
				}
			}
		}
	}
	.feature-content {
		position: relative;
		@include box-shadow(0px 3px 10px 0px rgba(0, 0, 0, 0.1));
		.feature-detail {
		    h3 {
		    	font-weight: 400;
		    }
		    p {
		    	font-size: 16px;
		    }
		    .view {
		    	.btn-small {
				    padding: 0px 33px;
				    line-height: 55px;
				    height: 50px;
				    margin-right: 16px;
				}
				.price {
					font-family: 'Josefin Sans', sans-serif;
					font-size: 25px;
					color: #333;
					position: relative;
					padding-left: 60px;
					&:before {
						position: absolute;
						content: '';
						background: rgba(0,0,0,0.1);
						width: 40px;
						height: 1px;
						top: 50%;
						@include transform(translateY(-50%));
						left: 0;
					}
				}
		    }
		}
	}
	.feature-content-1 {
		margin: 10px 118px 130px 0;
		position: relative;
		.feature-detail {
			padding: 51px 70px 80px;
			p {
				margin: 19px -30px 39px 0;
			}
		}
		.view-image-1 {
			position: absolute;
			right: -12.6%;
			top: 8%;
			.feature-image {
				margin-left: -62px;
			}
		}
	}
	.feature-content-2 {
		margin: 0 0 113px 118px;
		position: relative;
		.feature-detail {
			padding: 51px 70px 80px 40px;
		    margin-left: 59%;
    		width: 100%;
    		h3 {
    			width: 60%;
    		}
			p {
				margin: 19px -20px 39px 0;
			}
		}
		.view-image-2 {
			position: absolute;
			left: -12.6%;
			top: 8%;
			.feature-image {
				margin-right: -62px;
			}
		}
	}
	.feature-content-3,
	.feature-content-4 {
		.feature-detail {
			h3 {
				width: 70%;
			}
		}
	}
}
/* End Featured Section */

/* Events Section */
.events-hp-2.events-hp-4 {
	background: #f2f2f2;
}
/* End Events Section */
