/* Slider Revolution Section */
.style-home-slider-hp-1.style-home-slider-hp-5 {
	.slide-caption-title-2 {
		font-family: 'Josefin Sans', sans-serif;
	}
}
/* End Slider Revolution Section */

/* Our Menu Section */
.menu-v2-section.hp-5-menu {
	.view {
		text-align: center;
		padding: 35px 0 30px;
		.btn-medium {
		    padding: 22.5px 35.5px;
		}
	}
}
/* End Our Menu Section */

/* Our Story Section */
.story-hp-5 {
	.story-content {
		background-repeat: repeat;
		background-position: center center;
		padding: 48px 0 60px;
		position: relative;
		.story-view-image {
		    position: absolute;
		    top: 0;
		    right: 0;
		    bottom: 0;
		    padding-right: 0;
		    .story-right {
			    margin-left: -68px;
			}
		}
		.story-detail {
			padding: 50px 50px 67px 0;
			.special-heading,
			.special-heading-1 {
				text-align: left;
			}
			.special-heading-1 {
				padding-bottom: 28px;
			}
			p {
				font-size: 16px;
				margin-bottom: 36px;
			}
		}
	}
}
/* End Our Story Section */

/* Book Table */
.book-table-hp-1.book-table-hp-5 {
	background-repeat: repeat;
	background-position: center center;
}
/* End Book Table */
