/* Slider Revolution Section */
.style-home-slider-hp-1.style-home-slider-hp-6 {
	.slide-caption-title-2 {
		font-family: 'Josefin Sans', sans-serif;
		letter-spacing: 4px;
	}
}
/* End Slider Revolution Section */

/* About Us Section */
.about-us-section.about-hp-6 {
	background-repeat: repeat;
	background-position: center center;
}
/* End About Us Section */

/* Contact Section */
.contact-hp-6.section-box {
	padding-top: 115px;
}
.contact-hp-6 {
	.special-heading-1 {
		padding: 0 0 7px;
	}
	p {
		text-align: center;
	    margin: 0 auto 58px;
	    width: 50%;
	}
	.form-contact {
		padding: 0 100px;
		.group {
		    @extend display-flex;
		    margin: 0 -10px;
		}
		.form-input {
			margin-bottom: 20px;
			width: 100%;
    		padding: 0 10px;
			input {
				background: #f2f2f2;
				padding: 16.5px 25px;
			}
		}
		.form-textarea {
			height: 200px;
		    width: 100%;
    		padding: 0 10px;
			textarea {
				background: #f2f2f2;
				padding: 16.5px 25px;
			}
		}
		.form-bottom {
		    padding: 65px 10px 0;
    		margin: 0 auto;
			.btn-small {
			    padding: 0px 51.5px;
			    height: 50px;
			    line-height: 55px;
			    cursor: pointer;
			}
		}
	}
}
/* End Contact Section */

/* Events Section */
.events-hp-2.events-hp-6 {
	background-repeat: repeat;
	background-position: center center;
}
/* End Events Section */

/* Book Table */
.book-table-hp-1.book-table-hp-6 {
	.form-detail {
		.form-group {
			@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.1));
		}
	}
}
/* End Book Table */
