/* Menu Section of Menu v2 Page */
.menu-v2-section.section-box  {
	padding: 120px 0 90px;
}
.menu-v2-section {
	.menu-content {
		position: relative;
		margin-bottom: 30px;
		.overlay {
			background: rgba(0,0,0,0.5);
			opacity: 1;
		}
		h3 {
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(translate(-50%,-50%));
			color: #fff;
			z-index: 9;
			padding: 12px 20px 5px;
			&:before,
			&:after {
				content: '';
				width: 70px;
				height: 2px;
				background: rgba(255,255,255,0.65);
				position: absolute;
				left: 50%;
				@include transform(translateX(-50%));
			}
			&:before {
				top: -5%;
			}
			&:after {
				bottom: -5%;
			}
		}
		&:hover {
			.overlay {
				background: rgba(0,0,0,0.65);
			}
			h3 {
				background: #fff;
				color: #333;
				&:before,
				&:after {
					content: none;
				}
			}
		}
	}
}
/* End Menu Section of Menu v2 Page */

/* Menu Section of Menu v1 Page */
.menu-v1-section.section-box {
	padding-bottom: 72px;
}
.menu-v1-section {
	.grid {
	    counter-reset: grid-item;
	}
	.grid-sizer,
	.grid-item {
		width: 33.33%;
	}
	.grid-item {
		float: left;
		padding: 0 15px 18px;
		h3 {
			text-align: center;
			font-size: 22px;
			font-weight: 400;
		    padding-bottom: 22px;
    		border-bottom: 1px solid #e5e5e5;
    		margin-bottom: 33px;
		}
		.icon {
			width: 50px;
			height: 50px;
			@include border-radius(50%);
			margin: 2px auto 28px;
			position: relative;
			@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.1));
			img {
				position: absolute;
				top: 50%;
				left: 50%;
				@include transform(translate(-50%,-50%));
			}
		}
		.starter {
			background: #00b26f;
		}
		.lunch {
			background: #e98c38;
		}
		.dinner {
			background: #8058bd;
		}
		.dessert {
			background: #f74877;
		}
		.drink {
			background: #00c2d1;
		}
		.alcoholic {
			background: #2489b0;
		}
		.menu-inner {
			padding-bottom: 20px;
			span {
				font-size: 17px;
				font-family: 'Josefin Sans', sans-serif;
				color: #333;
			}
			p {
				margin: 5px 0 3px;
				font-size: 14px;
			}
			.special {
				color: #fff;
				font-size: 11px;
				background: #dabc95;
				padding: 2px 13px 0px;
				@include border-radius(3px);
				margin-bottom: 10px;
				display: inline-block;
			}
		}
	}
}
/* End Menu Section of Menu v1 Page */

/* Menu Salad Section Of Menu Starter Page */
.salad-section.section-box {
	padding: 97px 0 90px;
}
.salad-section {
	.owl-carousel {
		.owl-thumbs,
		.owl-nav {
			display: none;
		}
		.owl-item {
			.item-content {
				overflow: hidden;
				margin-bottom: 30px;
				.image {
					float: left;
					img {
						width: 170px;
						height: 150px;
					}
				}
				.info {
					margin: 12px 40px 0 200px;
					h5 {
						font-size: 20px;
						font-weight: 400;
					}
					p {
						font-size: 16px;
						margin: 7px 0 13px;
					}
					span {
						font-size: 22px;
						font-weight: 700;
						font-family: 'Josefin Sans', sans-serif;
						color: #333;
					}
				}
			}
		}
		.owl-dots {
		    position: absolute;
		    right: -28%;
		    top: 25%;
			.owl-dot {
				display: block;
				@include outline(none);
				span {
					background: rgba(51,51,51,0.1);
				}
				&:hover {
					span {
						background: #333;
					}
				}
			}
			.owl-dot.active {
				span {
					background: #333;
				}
			}
		}
	}
}
/* End Menu Salad Section Of Menu Starter Page */

/* Menu Curry Section Of Menu Starter Page */
.curry-section {
	@include background-size(cover);
	background-position: center center;
	background-repeat: no-repeat;
}
.curry-section.salad-section {
	.menu-heading {
		h2 {
			color: #fff;
			border-bottom: 1px solid rgba(255,255,255,0.2);
			padding: 20px 0 31px;
		}
	}
	.owl-carousel {
		.owl-item {
			.item-content {
				.info {
					h5 {
						color: #fff;
					}
					p {
						color: #999;
					}
					span {
						color: #fff;
					}
				}
			}
		}
		.owl-dots {
			.owl-dot {
				span {
					background: rgba(255,255,255,0.2);
				}
				&:hover {
					span {
						background: #fff;
					}
				}
			}
			.owl-dot.active {
				span {
					background: #fff;
				}
			}
		}
	}
}
/* End Menu Curry Section Of Menu Starter Page */

/* Menu Potato Section Of Menu Starter Page */
.salad-section.potato-section {
	.menu-heading  {
		h2 {
			padding: 22px 0 31px;
		}
	}
}
/* End Menu Potato Section Of Menu Starter Page */

/*Menu Steak Section of Menu Dinner Page*/
.salad-section.steak-section.section-box {
	padding-top: 92px;
}
.salad-section.steak-section {
	.menu-heading {
		h2 {
			padding: 17px 0 31px;
		}
	}
}
/*End Menu Steak Section of Menu Dinner Page*/

/* Menu Soup Section of Menu Dinner Page*/
.salad-section.soup-section.curry-section.section-box {
	padding-top: 95px;
}
.salad-section.soup-section.curry-section {
	.menu-heading {
		h2 {
			padding-top: 15px;
		}
	}
}
/*End Menu Soup Section of Menu Dinner Page*/

/* Menu Fish Section of Menu Dinner Page*/
.salad-section.potato-section.fish-section.section-box {
	padding-top: 92px;
}
.salad-section.potato-section.fish-section {
	.menu-heading {
		h2 {
			padding-top: 18px;
		}
	}
}
/* End Menu Fish Section of Menu Dinner Page*/

/* Menu Pizza Section of Menu Dinner Page*/
.salad-section.curry-section.pizza-section.section-box {
	padding-top: 94px;
}
.salad-section.curry-section.pizza-section {
	.menu-heading {
		h2 {
			padding-top: 16px;
		}
	}
}
/* End Menu Pizza Section of Menu Dinner Page*/

/*Menu Spaghetii Section of Menu Lunch Page*/
.salad-section.spaghetii-section.section-box {
	padding-top: 94px;
}
.salad-section.spaghetii-section {
	.menu-heading {
		h2 {
			padding: 17px 0 31px;
		}
	}
}
/*End Menu Spaghetii Section of Menu Lunch Page*/

/*Menu Sushi Section of Menu Lunch Page*/
.salad-section.sushi-section.section-box {
	padding-top: 92px;
}
.salad-section.sushi-section {
	.menu-heading {
		h2 {
			padding: 19px 0 31px;
		}
	}
}
/*End Menu Sushi Section of Menu Lunch Page*/

/*Menu Turkey Section of Menu Lunch Page*/
.salad-section.curry-section.turkey-section.section-box {
	padding-top: 94px;
}
.salad-section.curry-section.turkey-section {
	.menu-heading {
		h2 {
			padding: 16px 0 31px;
		}
	}
}
/*End Menu Turkey Section of Menu Lunch Page*/