/* Our Team Section */
.our-team-section.section-box {
	padding: 120px 0 90px;
}
.our-team-section {
	.our-team-content {
		@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.1));
		margin-bottom: 30px;
		.member-image {
			position: relative;
			cursor: pointer;
			.background-gradient {
				position: absolute;
				width: 100%;
				height: 44px;
				bottom: 0;
				background: -moz-linear-gradient(top, rgba(205,205,205,0.01) 0%, rgba(210,210,210,0.11) 14%, rgba(214,214,214,0.21) 24%, rgba(218,218,218,0.28) 31%, rgba(241,241,241,0.72) 69%, rgba(245,245,245,0.79) 76%, rgba(249,249,249,0.89) 86%, rgba(254,254,254,0.99) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(205,205,205,0.01) 0%,rgba(210,210,210,0.11) 14%,rgba(214,214,214,0.21) 24%,rgba(218,218,218,0.28) 31%,rgba(241,241,241,0.72) 69%,rgba(245,245,245,0.79) 76%,rgba(249,249,249,0.89) 86%,rgba(254,254,254,0.99) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(205,205,205,0.01) 0%,rgba(210,210,210,0.11) 14%,rgba(214,214,214,0.21) 24%,rgba(218,218,218,0.28) 31%,rgba(241,241,241,0.72) 69%,rgba(245,245,245,0.79) 76%,rgba(249,249,249,0.89) 86%,rgba(254,254,254,0.99) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			}
			.overlay {
				background: rgba(0,0,0,0.4);
			}
			.socials {
				width: 100%;
				text-align: center;
			    position: absolute;
			    bottom: 4%;
			    left: 0;
			    z-index: 99;
			    opacity: 0;
				a {
					width: 50px;
					height: 50px;
					background: rgba(255,255,255,0.8);
					@include border-radius(50%);
					position: relative;
					margin: 0 2px;
					i {
						position: absolute;
						top: 50%;
						left: 50%;
						@include transform(translate(-50%,-50%));
						font-size: 18px;
						color: #333;
					}
					&:hover {
						background: #333;
						i {
							color: #fff;
						}
					}
				}
			}
			&:hover {
				.overlay,
				.socials {
					opacity: 1;
				}
				.background-gradient {
					display: none;
				}
			}
		}
		.member-info {
			text-align: center;
			span {
				display: block;
			}
			.name {
				color: #333;
				font-size: 25px;
				font-weight: 700;
				font-family: 'Josefin Sans', sans-serif;
				padding-top: 30px;
			}
			.job {
				font-size: 16px;
				padding-bottom: 30px;
			}
		}
	}
}
/* End Our Team Section */
.Rectangle_2 {
  position: absolute;
  left: 775px;
  top: 1056px;
  width: 370px;
  height: 44px;
  z-index: 58;
}
